

{% extends 'base.html' %}
{% load static %}

{% block content %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dummy page</title>
        <h1>Dummy pageeee</h1>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        This is a dummy page
        
        <script src="" async defer></script>
    </body>

{% endblock content %}